body {
    font-family: Arial, sans-serif;
    background-color: #4c5866;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #e2e7e9;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile p {
    margin: 0;
    color: #00646e;
}

.logout-button {
    background-color: #00646e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #004c52;
}

.form-container {
    background-color: #e2e7e9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.form-container label {
    color: #00646e;
    margin-right: 10px;
}

.form-container input, 
.form-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 20px;
    flex: 1;
}

.form-container button {
    background-color: #00646e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #004c52;
}

.input-display {
    background-color: #d9dee1;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}


.input-content {
    flex-grow: 1;
    word-break: break-all;
    word-wrap: break-word;
}


.submit-button {
    background-color: #00646e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.submit-button:hover {
    background-color: #004c52;
}

.hr-line {
    border: 0;
    height: 1px;
    background-color: #cccccc;
    margin: 20px 0;
}




#table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed
}

#table th, 
#table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    vertical-align: top;
}


#table th:nth-child(1), 
#table td:nth-child(1),
#table th:nth-child(2), 

#table td:nth-child(2) {
    width: 45%;
}

#table th:nth-child(3), 
#table td:nth-child(3) {
    width: 10%;
}