body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgb(85, 95, 105);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#sign-in-button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(0, 100, 110); /* Custom Color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sign-in-button:hover {
    background-color: #006f7a; /* Darker Shade of Custom Color */
}

#sign-in-button:active {
    background-color: #004c52; /* Even Darker Shade of Custom Color */
}
