<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">

        <div class="profile">
            <p>Signed-in as: {{ user.get("name") }}</p>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
        
        <hr class="hr-line">

        <div class="form-container">
            <label for="host">Host</label>
            <input type="text" id="host" name="host">
            <label for="category">Category</label>
            <select id="category" name="category" required>
                <option value="" disabled selected>Select a category</option>
                <option value="Category1">Category1</option>
                <option value="Category2">Category2</option>
                <option value="Category3">Category3</option>
            </select>
            <button type="button" onclick="addInput()">Add</button>
        </div>

        <div class="input-display">
            <table id="table">
                <tr>
                    <th>Host</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </table>
        </div>

        <form action="/submit" method="post" id="submit">
            <button type="submit">Submit</button>
        </form>

    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
