<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div class="profile">
            <p>Signed-in as: {{ user.get("name") }}</p>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>

        <div class="host_list">
            <ul>
                {% for input in session.get('inputs', []) %}
                    <li>
                        {{ input.host }} <br>
                        {{ input.category }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" onclick="openForm()">Add</button>
        </div>

        <div class="popup-window" id="popup-window">
            <h2>Submit Form</h2>
            <form id="form" action="/add" method="post" onsubmit="return validateForm()">
                <span class="close" onclick="closeForm()">&times;</span>
                <label for="host">Host</label>
                <input type="text" id="host" name="host" required><br>
                <label for="category">Category</label>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="Category1">Category1</option>
                    <option value="Category2">Category2</option>
                    <option value="Category3">Category3</option>
                </select><br><br>
                <button type="submit">Add</button>
            </form>
        </div>

        <form action="/submit" method="post">
            <button type="submit">Submit</button>
        </form>

        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </div>
</body>
</html>

